# Default Git Config

### USER MANAGEMENT ###

# [user]
# 	email = denismel19@gmail.com
# 	name = Denys Melnyk

# [includeIf "gitdir:~/project_a/"]
#   path = ~/project_a/.gitconfig
# [includeIf "gitdir:~/project_b/"]
#   path = ~/project_b/.gitconfig

### FORMATING ###

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

### DIFF ###

[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE


### ALIASES ###

[alias]
	c = commit
	ca = commit -a
	cm = commit -m
	cam = commit -am
	ec = commit --allow-empty -m \"Empty commit\"
